<ion-view title="3° Año" id="page10" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="terapiaOcupacionalUNLaR.teorADeLaTerapiaOcupacionalIII()">
        <i class="icon ion-university"></i>Teoría de la Terapia Ocupacional III</ion-item>
    </ion-list>
    <ion-list id="3AO-list9">
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="terapiaOcupacionalUNLaR.psiquiatrAClNica()">
        <i class="icon ion-university"></i>Psiquiatría Clínica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item190" ui-sref="terapiaOcupacionalUNLaR.psicologADeLaPersonalidad()">
        <i class="icon ion-university"></i>Psicología de la Personalidad</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item191" ui-sref="terapiaOcupacionalUNLaR.prCticaProfesionalI()">
        <i class="icon ion-university"></i>Práctica Profesional I</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item192" ui-sref="terapiaOcupacionalUNLaR.ocupacionesTerapUticasV()">
        <i class="icon ion-university"></i>Ocupaciones Terapéuticas V</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item193" ui-sref="terapiaOcupacionalUNLaR.psiquiatrAInfantil()">
        <i class="icon ion-university"></i>Psiquiatría Infantil</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item195" ui-sref="terapiaOcupacionalUNLaR.dinMicaDeGrupo()">
        <i class="icon ion-university"></i>Dinámica de Grupo</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item196" ui-sref="terapiaOcupacionalUNLaR.prCticaProfesionalII()">
        <i class="icon ion-university"></i>Práctica Profesional II</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item197" ui-sref="terapiaOcupacionalUNLaR.operacionesTerapUticasVI()">
        <i class="icon ion-university"></i>Operaciones Terapéuticas VI</ion-item>
    </ion-list>
  </ion-content>
</ion-view>