<ion-view title="4° Año" id="page42" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list31">
      <ion-item class="item-icon-left dark" id="4AO-list-item198" ui-sref="terapiaOcupacionalUNLaR.teorADeLaTerapiaOcupacionalIV()">
        <i class="icon ion-university"></i>Teoría de la Terapia Ocupacional IV</ion-item>
    </ion-list>
    <ion-list id="4AO-list37">
      <ion-item class="item-icon-left dark" id="4AO-list-item199" ui-sref="terapiaOcupacionalUNLaR.pedagogAGeneralYEspecial()">
        <i class="icon ion-university"></i>Pedagogía general y Especial</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item201" ui-sref="terapiaOcupacionalUNLaR.prCticaProfesionalIII()">
        <i class="icon ion-university"></i>Práctica Profesional III</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item202" ui-sref="terapiaOcupacionalUNLaR.fundamentosDeAntropologAYSociologA()">
        <i class="icon ion-university"></i>Fundamentos de Antropología y Sociología</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item203" ui-sref="terapiaOcupacionalUNLaR.estadStica()">
        <i class="icon ion-university"></i>Estadística</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item204" ui-sref="terapiaOcupacionalUNLaR.prCticaProfesionalIV()">
        <i class="icon ion-university"></i>Práctica Profesional IV</ion-item>
    </ion-list>
  </ion-content>
</ion-view>