<ion-view title="5° Año" id="page43" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list45">
      <ion-item class="item-icon-left dark" id="5AO-list-item215" ui-sref="terapiaOcupacionalUNLaR.teorADeLaTerapiaOcupacionalV()">
        <i class="icon ion-university"></i>Teoría de la Terapia Ocupacional V</ion-item>
    </ion-list>
    <ion-list id="5AO-list47">
      <ion-item class="item-icon-left dark" id="5AO-list-item216" ui-sref="terapiaOcupacionalUNLaR.administraciNYPolTicaEnSalud()">
        <i class="icon ion-university"></i>Administración y Política en Salud</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item217" ui-sref="terapiaOcupacionalUNLaR.teorAYMetodologADeLaInvestigaciN()">
        <i class="icon ion-university"></i>Teoría y Metodología de la Investigación</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item219" ui-sref="terapiaOcupacionalUNLaR.trabajoFinal()">
        <i class="icon ion-university"></i>Trabajo Final</ion-item>
    </ion-list>
  </ion-content>
</ion-view>