<ion-view title="Administración y Política en Salud" id="page52" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="administraciNYPolTicaEnSalud-list87">
      <ion-item class="item-icon-right dark" id="administraciNYPolTicaEnSalud-list-item169">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>