<ion-view title="Extracurriculares" id="page44" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="extracurriculares-list49">
      <ion-item class="item-icon-left dark" id="extracurriculares-list-item223" ui-sref="terapiaOcupacionalUNLaR.pruebaDeSuficienciaEnInglS()">
        <i class="icon ion-university"></i>Prueba de suficiencia en Inglés</ion-item>
    </ion-list>
    <ion-list id="extracurriculares-list51">
      <ion-item class="item-icon-left dark" id="extracurriculares-list-item274" ui-sref="terapiaOcupacionalUNLaR.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left dark" id="extracurriculares-list-item289" ui-sref="terapiaOcupacionalUNLaR.informTicaAplicada()">
        <i class="icon ion-university"></i>Informática Aplicada</ion-item>
    </ion-list>
  </ion-content>
</ion-view>