<ion-view title="Horarios" id="page3" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/x02HfsaTiSjqCfD4armA_Horarios1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list60">
      <ion-item class="item-icon-left item-icon-right calm" id="horarios-list-item17" ui-sref="terapiaOcupacionalUNLaR.horarioIngreso()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list61">
      <ion-item class="item-icon-left item-icon-right calm" id="horarios-list-item224" ui-sref="terapiaOcupacionalUNLaR.horario1Cuatrimestre()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list10">
      <ion-item class="item-icon-left item-icon-right calm" id="horarios-list-item18" ui-sref="terapiaOcupacionalUNLaR.horario2Cuatrimestre()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>