<ion-view title="Informática Aplicada" id="page57" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="informTicaAplicada-list92">
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item178">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>