<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/768BnLM9RBKkkXlD0nZb_LogoTOApp1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar dark" id="inicio-list-item9" ui-sref="terapiaOcupacionalUNLaR.planDeEstudios()">
        <img src="img/edJ9vHpWT520bNQB8V9I_006.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="terapiaOcupacionalUNLaR.horarios()">
        <img src="img/3uQv0aOZQGyaOHvURDnG_005.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item23" ui-sref="terapiaOcupacionalUNLaR.programasDeCTedra()">
        <img src="img/BHauiin8TyCkzxgPwJbH_004.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="terapiaOcupacionalUNLaR.bibliotecaDigital()">
        <img src="img/g98qh3UQ4uBXpPiRG30L_003.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item24" ui-sref="terapiaOcupacionalUNLaR.calendarioAcadMico()">
        <img src="img/WcpSiHXTW2w3omJpkU3B_002.png">
        <h2dark>Calendario Académico</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="terapiaOcupacionalUNLaR.acercaDeLaApp()">
        <img src="img/IuTzHIh3S1KbA2sdzoXB_001.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="terapiaOcupacionalUNLaR.gUAUNLaR()" id="inicio-button3" style="border-radius:10px 10px 10px 10px;" class="button button-calm button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>