<ion-view title="Ocupaciones Terapéuticas IV" id="page27" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="ocupacionesTerapUticasIV-list41">
      <ion-item class="item-icon-right dark" id="ocupacionesTerapUticasIV-list-item168">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>