<ion-view title="Ocupaciones Terapéuticas III" id="page24" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="ocupacionesTerapUticasIII-list34">
      <ion-item class="item-icon-right dark" id="ocupacionesTerapUticasIII-list-item146">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>