<ion-view title="Ocupaciones Terapéuticas II" id="page19" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="ocupacionesTerapUticasII-list24">
      <ion-item class="item-icon-right dark" id="ocupacionesTerapUticasII-list-item116">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>