<ion-view title="Ortesis y Ayudas Técnicas" id="page25" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="ortesisYAyudasTCnicas-list36">
      <ion-item class="item-icon-right dark" id="ortesisYAyudasTCnicas-list-item152" href-inappbrowser="https://drive.google.com/file/d/1AcT2aPVSpMt9nvc_bMFfk-gGDj13P5Hr/view?usp=sharing">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>