<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza: 011/95</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial: 0429/96</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Terapia Ocupacional es un graduado universitario que tiene sólida formación en Anatomía funcional, Psicología, Semiología y en Metodología de Terapia Ocupacional que le permite realizar diagnóstico, tratamiento y Rehabilitación
        de la capacidad funcional y psicofísica del sujeto.</div>
      <div>&nbsp;</div>
      <div>Posee además conocimientos socio-antropológicos que constituyen el marco referencial para la instrumentación de su actividad profesional.</div>
      <div>&nbsp;</div>
      <div>Tiene habilidad para diseñar y confeccionar el equipo fijo y móvil mejorando la autonomía de los individuos discapacitados.</div>
      <div>&nbsp;</div>
      <div>Es capaz de aplicar métodos y técnicas de análisis de las distintas Ocupaciones que realiza el hombre.</div>
      <div>&nbsp;</div>
      <div>Tiene así mismo habilidad para programar e implementar actividades con fines terapéuticos y de inserción laboral.</div>
      <div>&nbsp;</div>
      <div>Posee habilidad para realizar estudios e investigaciones en el área de su especialidad.</div>
      <div>&nbsp;</div>
      <div>Posee habilidad para transferir tecnología en el marco de los programas con base comunitaria.</div>
      <div>&nbsp;</div>
      <div>Tiene capacidad para implementar la disociación instrumental necesaria para realizar los ajustes operativos que implica la naturaleza de su trabajo.</div>
      <div>Tiene conciencia del compromiso social implícito en su desempeño profesional.</div>
      <div>&nbsp;</div>
      <div>Posee así mismo una actitud crítica y flexible que le permite autoevaluar su tarea y trabajar en equipo interdisciplinario.</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>