<ion-view title="Práctica Profesional II" id="page36" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="prCticaProfesionalII-list58">
      <ion-item class="item-icon-right dark" id="prCticaProfesionalII-list-item218">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>