<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Teoría de la Terapia Ocupacional I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Anatomía</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Fisiología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Psicología General</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Ocupaciones Terapéuticas I (Carpintería - Tejido a mano)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Biomecánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Ocupaciones Terapéuticas I (Libre expresión - Juguetería - Cerámica)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Teoría de la Terapia Ocupacional II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Clínica Médica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Psicología del Desarrollo</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Neurología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Ocupaciones Terapéuticas III (Horticultura y Jardinería - Cestería)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Ortesis y Ayudas Técnicas</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Ortopedia</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Ocupaciones Terapéuticas IV (Recreación y Deportes - Dibujo y Pintura)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Teoría de la Terapia Ocupacional III</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Psiquiatría Clínica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Psicología de la Personalidad</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Práctica Profesional I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Ocupaciones Terapéuticas V (Música y Expresión Corporal)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Psiquiatría Infantil</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Dinámica de Grupo</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Práctica Profesional II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Operaciones Terapéuticas VI (Taller Libre de Ocupaciones Terapéuticas)</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item119">
        <i class="icon ion-ios-list-outline"></i>Teoría de la Terapia Ocupacional IV</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item120">
        <i class="icon ion-ios-list-outline"></i>Pedagogía general y Especial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item121">
        <i class="icon ion-ios-list-outline"></i>Práctica Profesional III</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item129">
        <i class="icon ion-ios-list-outline"></i>Fundamentos de Antropología y Sociología</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item155">
        <i class="icon ion-ios-list-outline"></i>Estadística</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item171">
        <i class="icon ion-ios-list-outline"></i>Práctica Profesional IV</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item172">
        <i class="icon ion-ios-list-outline"></i>Teoría de la Terapia Ocupacional V</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item183">
        <i class="icon ion-ios-list-outline"></i>Administración y Política en Salud</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item184">
        <i class="icon ion-ios-list-outline"></i>Teoría y Metodología de la Investigación</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item185">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item186">
        <i class="icon ion-ios-list-outline"></i>Prueba de suficiencia en Inglés</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item187">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item189">
        <i class="icon ion-ios-list-outline"></i>Informática Aplicada</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>