<ion-view title="Prueba de suficiencia en Inglés" id="page55" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="pruebaDeSuficienciaEnInglS-list90">
      <ion-item class="item-icon-right dark" id="pruebaDeSuficienciaEnInglS-list-item175">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>