<ion-view title="Psicología General" id="page16" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="psicologAGeneral-list29">
      <ion-item class="item-icon-right dark" id="psicologAGeneral-list-item118">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>