<ion-view title="Psicología del Desarrollo" id="page22" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="psicologADelDesarrollo-list30">
      <ion-item class="item-icon-right dark" id="psicologADelDesarrollo-list-item134">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>