<ion-view title="Teoría de la Terapia Ocupacional II" id="page20" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="teorADeLaTerapiaOcupacionalII-list26">
      <ion-item class="item-icon-right dark" id="teorADeLaTerapiaOcupacionalII-list-item122">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>