<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/Rki9uQCkSSqtnfb6Voyx_FondoApp19.jpg) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/768BnLM9RBKkkXlD0nZb_LogoTOApp1.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="terapiaOcupacionalUNLaR-list93">
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item93" ui-sref="terapiaOcupacionalUNLaR.inicio()" menu-close="">Inicio
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item95" ui-sref="terapiaOcupacionalUNLaR.planDeEstudios()" menu-close="">Plan de Estudios
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item94" ui-sref="terapiaOcupacionalUNLaR.horarios()" menu-close="">Horarios
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item99" ui-sref="terapiaOcupacionalUNLaR.programasDeCTedra()" menu-close="">Programas de Cátedra
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item98" ui-sref="terapiaOcupacionalUNLaR.bibliotecaDigital()" menu-close="">Biblioteca Digital
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item97" ui-sref="terapiaOcupacionalUNLaR.calendarioAcadMico()" menu-close="">Calendario Académico
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="terapiaOcupacionalUNLaR-list-item96" ui-sref="terapiaOcupacionalUNLaR.acercaDeLaApp()" menu-close="">Acerca de la App
          <i class="icon ion-log-in"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>